body { 
  padding-top: 60px; 
  font-size: 16px;
  font-weight: bold;
  color: black;
}

#header-nav {
  background-color: grey;
}

.navbar-header .navbar-brand a{
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: black;
}
.navbar-default button.navbar-toggle:hover .icon-bar,
.navbar-default button.navbar-toggle:focus .icon-bar{
  background-color: white;
}

.navbar-header button.navbar-toggle{
  border: 2px solid black;
}
.navbar-header button.navbar-toggle:hover, 
.navbar-header button.navbar-toggle:focus{
  border: 2px solid white;
}

#nav-list a {
  text-align: center;
  color: black;
}

#nav-list li hr {
  margin: 0; 
  border: 1px solid black;
}

.navbar-nav {
  margin: 0;
}

@media (max-width: 767px){
  #collapsable-nav {
    background-color: white;
    border: 2px solid black;
  }
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

section.content h3.content-title {
  font-size: 1.6em;
  padding-top: 20px;
}

.content-text {
  height: 1000px;
}

.content {
  background-color: grey;
  padding: 0 15px 20px;
}

.content-title {
  font-size: 1.9em;
  margin: 15px;
  padding-top: 15px;
}