* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

.row {
  	width: 100%;
  	padding-left: 5px;
  	padding-right: 5px;
}

div.block {
	background-color: #808080;
	border: 1px solid black;
	margin: 10px;
}

p.content {
	clear: right;
	padding: 10px 15px 10px 15px;
}

 p.sec-heading {
	
	border: 1px solid black;
	padding: 2px 20px 2px 20px ;
	float: right;
	font-weight: bold;
}

.orange {
	background-color: #ff5a00;
}

.green {
	background-color: #8cdf8c;
}

.blue {
	background-color: #9494fd;
}

@media (min-width: 992px) {

	.col-lg-4 {
		width: 33.3333333%;
		float: left;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
	.block {
		margin-top: 0px;
	}
}